// src/styles/custom.scss

body {
  width: 100%;
  height: 8000px;
  margin: auto;
  font-family: "Lexend", serif;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.container {
  margin-top: 20px;
}

.section-1 {
  header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    position: fixed;
    font-weight: 600;
    z-index: 100;

    nav {
      width: 1600px;
      height: auto;

      .menu1 {
        #menu3 {
          width: 1300px;
          height: 600px;
          align-items: center;
          display: flex;
          text-align: center;
          justify-content: center;

          .row {
            width: 1100px;
            object-fit: contain;
            height: auto;
            margin: 20px;
            text-align: center;
            align-items: center;
          }
          col {
            width: 500px;
            height: auto;
            margin: auto;
          }
          span {
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            align-items: center;
          }
        }

        li {
          padding: 10px;
        }
        li a {
          transition: background-color 0.3s ease-in-out,
            opacity 0.3s ease-in-out; /* Transición suave para el color y la opacidad */
          border-radius: 10px;
        }
        li a:hover {
          background-color: lightblue; /* Color de fondo al pasar el ratón */
          opacity: 1; /* Opacidad completa */
          border-radius: 10px;
        }
      }

      .menu2 {
        li {
          padding: 10px;
        }
        .btn-unirse {
          transition: background-color 0.3s ease-in-out,
            opacity 0.3s ease-in-out; /* Transición suave para el color y la opacidad */
          border-radius: 10px;
          background-color: rgb(175, 211, 223);
          padding: 10px 20px 10px 20px;
          text-align: center;
          align-items: center;

          .flecha {
            border: 1px solid rgb(157, 187, 197);
            background-color: rgb(157, 187, 197);
            padding: 5px 12px 5px 12px;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
          }
        }
        .btn-unirse:hover {
          background-color: lightblue; /* Color de fondo al pasar el ratón */
          opacity: 1; /* Opacidad completa */
          border-radius: 10px;
          background-color: rgb(157, 187, 197);

          .flecha {
            background-color: rgb(95, 154, 173);
            opacity: 1; /* Opacidad completa */
          }
        }
      }
    }
  }
}

//SECCION 2-----------------------------------------

.section2 {
  width: 100%;
  padding-top: 200px;
  a,
  li {
    text-decoration: none;
    list-style: none;
    color: inherit;
  }
  .article2 {
    width: 1500px;
    margin: auto;
    align-items: center;
    text-align: center;
    opacity: 0; /* Inicialmente, la sección está oculta */
    transform: translateY(50px); /* Desplazamos la sección hacia abajo */
    transition: all 0.3s ease-in-out; /* Agregamos una transición suave */
    transition-duration: 2s;

    h2 {
      font-size: 90px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .article2.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .botones-seccion2 {
    .btn-unirse {
      transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transición suave para el color y la opacidad */
      border-radius: 10px;
      background-color: rgb(175, 211, 223);
      padding: 10px 20px 10px 20px;
      text-align: center;
      align-items: center;

      .flecha {
        border: 1px solid rgb(157, 187, 197);
        background-color: rgb(157, 187, 197);
        padding: 5px 12px 5px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
      }
    }
    .btn-unirse:hover {
      background-color: lightblue; /* Color de fondo al pasar el ratón */
      opacity: 1; /* Opacidad completa */
      border-radius: 10px;
      background-color: rgb(157, 187, 197);

      .flecha {
        background-color: rgb(95, 154, 173);
        opacity: 1; /* Opacidad completa */
      }
    }
  }

  .container-portatil {
    width: 1200px;
    height: auto;
    margin: auto;
    align-items: center;
    position: relative;

    #mi-video {
      position: absolute;
      z-index: 4;
      right: 200px;
      top: -90px;
    }
    .laptot {
      width: 100%;
      object-fit: contain;
      position: absolute;
      z-index: 3;
    }
  }
}

.section3 {
  width: 100%;
  padding-top: 800px;
  .article2 {
    width: 1500px;
    margin: auto;
    align-items: center;
    text-align: center;
    opacity: 0; /* Inicialmente, la sección está oculta */
    transform: translateY(50px); /* Desplazamos la sección hacia abajo */
    transition: all 0.3s ease-in-out; /* Agregamos una transición suave */
    transition-duration: 2s;
  }
  .article2.visible {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
    height: 400px;
  }

  .background-image {
    width: 100%;
    height: 400px;
    background-image: url("https://i.vimeocdn.com/custom_asset/8b5bc41926561c9ac287a727ade1f786?w=1920&q=80");
    background-size: cover;
    background-position: center;
    h3 {
      color: white;
      font-size: 50px;
      text-align: center;
      align-items: center;
    }
    p {
      color: white;
      font-size: 20px;
      text-align: center;
      align-items: center;
    }
  }
  .botones-seccion3 {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      .nav-item {
        .nav-link {
          border-radius: 10px;
          background-color: rgb(175, 211, 223);
          padding: 10px 20px 10px 20px;
          text-decoration: none; /* Sin subrayado */
          display: inline-block;
          &:hover {
            background-color: rgb(127, 171, 185); /* Color de fondo al pasar el ratón */
          }
        }
      }
    }
  }
}


//SECCION 4-----------------------------------------
.section4{
  width: 100%;
  padding-top: 200px;

  article{

    h3{
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      width: 800px;
      margin: auto;
  
    }
    .cinta{
      

      img{
        width: 200px;
        height: auto;
        margin-top: 50px;
        padding: 20px;
        object-fit: contain;
      }
    }
  }
}